.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  height: 100vh;
}

.content {
  max-width: 1440px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.user-list__container {
  width: 20%;
  border: 1px solid rgb(148, 148, 148);
  background-color: rgb(255, 255, 255);
}

.user-info__container {
  width: 50%;
  border: 1px solid rgb(168, 168, 168);
  height: 500px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-list__item {
  cursor: pointer;
  list-style-image: url("../public/assets/user.png");
}

.user-list__item:hover {
  background-color: rgba(255, 115, 0, 0.432);
}

.active {
  background-color: rgba(255, 115, 0, 0.432);
}

.non-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.116);
}

.user-info__logo {
  width: 60px;
  height: 60px;
  background-image: url("../public/assets/user1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.user-info__content {
  display: flex;
  padding-top: 30px;
  column-gap: 40px;
}

.user-info__subtitle {
  width: 80px;
  margin: 0;
  text-align: start;
  display: flex;
  align-items: center;
}

.user-info__item {
  display: flex;
  column-gap: 20px;
}

.user__info-input {
  width: 400px;
  height: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 115, 0, 0.432);
  outline: none;
}

.user-info__form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.user__info-input:focus {
  border: 1px solid rgba(83, 38, 0, 0.432);
}

.user-info__button {
  width: 200px;
  height: 40px;
  cursor: pointer;
  background-color: rgba(255, 115, 0, 0.432);
  border: none;
  font-size: 18px;
  margin-top: 40px;
  border-radius: 10px;
  transition: 0.2s;
}

.user-info__button:hover {
  color: #fff;
}

.user-info__id {
  pointer-events: none;
  background-color: #d8d8d8;
  border: 1px solid rgba(156, 156, 156, 0.432);
}

.user-info__saved {
  margin: 0;
  color: rgb(0, 146, 32);
}

.user-info__email-err {
  margin: 0;
  color: rgba(255, 0, 0, 0.904);
}